.open {
	position: relative;
	top: -3px;
	right: 290px;
	width: 50px;
	height: 50px;
	display: block;
	cursor: pointer;
	transition: opacity 0.2s linear;
	z-index: 4;
  }
  
  .open:hover {
	opacity: 0.8;
  }
  
  .open span {
	display: block;
	float: left;
	clear: both;
	height: 4px;
	width: 40px;
	border-radius: 40px;
	background-color: #6ac360;
	position: absolute;
	right: 3px;
	top: 3px;
	overflow: hidden;
	transition: all 0.4s ease;
  }
  
  .open span:nth-child(1) {
	margin-top: 10px;
	z-index: 9;
  }
  
  .open span:nth-child(2) {
	margin-top: 25px;
  }
  
  .open span:nth-child(3) {
	margin-top: 40px;
  }
  
  .sub-menu {
	transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	height: 0;
	width: 0;
	right: 0;
	/* left: 100px; */
	top: 0;
	position: absolute;
	background-color: rgba(38, 84, 133, 0.54);
	border-radius: 50%;
	z-index: 18;
	overflow: hidden;
  }
  
  .sub-menu li {
	display: block;
	float: left;
	clear: both;
	height: auto;
	margin-right: -160px;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .sub-menu li:first-child {
	margin-top: 180px;
	/* margin-left: 100px; */
  }
  
  .sub-menu li a {
	color: #fff;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-size: 16px;
	width: 100%;
	display: block;
	float: left;
	line-height: 40px;
  }
  
  .open.oppenned .sub-menu {
	opacity: 1;
	height: 400px;
	width: 400px;
  }
  
  .open.oppenned span:nth-child(2) {
	overflow: visible;
  }
  
  .open.oppenned span:nth-child(1),
  .open.oppenned span:nth-child(3) {
	z-index: 100;
	transform: rotate(45deg);
  }
  
  .open.oppenned span:nth-child(1) {
	transform: rotate(45deg) translateY(12px) translateX(12px);
  }
  
  .open.oppenned span:nth-child(2) {
	height: 400px;
	width: 400px;
	/* right: -160px; */
	left: -100px;
	top: -160px;
	border-radius: 50%;
	background-color: rgba(38, 84, 133, 0.54);
  }
  
  .open.oppenned span:nth-child(3) {
	transform: rotate(-45deg) translateY(-10px) translateX(10px);
  }
  
  .sub-menu li {
	/* margin-right: -300px; */
	margin-left: 90px;
	margin-top: 10px;
  }
  
  @keyframes updown {
	0%, 50%, 100% {
	  transform: translateY(0);
	}
	20% {
	  transform: translateY(5px);
	}
	25% {
	  transform: translateY(-20px);
	}
	30% {
	  transform: translateY(20px);
	}
	35% {
	  transform: translateY(-5px);
	}
  }